rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // V1 démo : accès authentifié uniquement
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
